@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* sheard css style */
*{
    font-family: 'Lato',sans-serif;
    font-family: 'Open sans', sans-serif;
    font-family: "Work Sans",sans-serif;
}

.btn-primary{
    border: 0;
    padding: 20px 25px;
    background-color: #FF900E;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
/* banner style  */
.banner-contant{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}
/* header style end  */

/* main style */
main{
    max-width: 1400px;
    margin: auto;

}
main section{
      margin-top: 100px;

}
/* futuer section style start */
.teams-contanier{
    display:flex;
    align-items: center;

}
.teams-Image-contianer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}
.teams-contant{
  padding-left: 70px;
  padding-right: 50px;
}
.teams-title{
     font-size: 2.8rem;
     margin-bottom: 10px;
}
.teams-title .Quick-list{
    font-weight: 500;
    color: #727272;
}
.teams-title .features-title{
   font-weight: 700;
   color: #FF900E;
}
.teams-description{
    font-weight: 400;
    margin-bottom: 30px;
}
/* facts style start */
.facts-info{
    width: 550px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-top: 100px;
}
.card{
    border: 2px solid #FF900E;
    padding:50px;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    
}
.card img{
    width: 50px;
   
}
.card-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px ;
    margin-top: 0px;
    
}
.card-description{
    font-size: 18px;
    font-weight: 600;
    color: #727272;
}
/* sponspors section style  */
.sponspors{
    text-align: center;
    
}
.spons-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 10px;
}
.spons-description{
   font-size: 18px;
   font-weight: 600;
   color: #727272;
    
}
.sponspors-img-container{
    display: flex;
    justify-content: space-around;
   
   
}
.sponspors-img-container img{
    margin-top: 30px;

}
















/* media quareis style  */

/* mobile devices */
@media screen and (max-width:576px) {
      header
      {
        padding: 20px;
      }
      .sponspors-img-container,
      .facts-card-container,
      .teams-contanier,
      nav{
       flex-direction: column;
      }
      .teams-Image-contianer{
        grid-template-columns: repeat(1, 1fr);
        
      }
      .facts-info{
        width: 300px;
        
      }
      .sponspors-img-container{
        align-items: center;
        gap: 40px;
      }
      .sponspors-img-container img{
        width: 165px;
      }
}

/* tablet and midum devices */
@media screen and (min-width:576px) and (max-width:960px) {
      header {
          padding: 50px;
      }
      .sponspors-img-container,
      .facts-card-container,
      .teams-contanier,
      nav {
          flex-direction: column;
        
      }
      .sponspors-img-container{
        align-items: center;
        gap: 30px;
      }
      .sponspors-img-container img{
        width: 300px;
      }

}
    